In [5]:
#Data Cleaning in Pandas
import pandas as pd
df = pd.read_excel(r"C:\Users\HELAL\Downloads\Pandas Tutorials\Customer Call List.xlsx")    
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [9]:
df =df.drop(columns= "Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [13]:
df["Last_Name"].str.strip()

0         Baggins
1           Nadir
2          /White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [14]:
df["Last_Name"].str.strip("/")

0         Baggins
1           Nadir
2           White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [15]:
df["Last_Name"].str.strip("...")

0         Baggins
1           Nadir
2          /White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11         Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [16]:
df["Last_Name"]= df["Last_Name"].str.strip("...")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [17]:
df["Last_Name"]= df["Last_Name"].str.strip("123./")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [21]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')
df

C:\Users\HELAL\AppData\Local\Temp\ipykernel_9044\3574652478.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [28]:
# df["Phone_Number"].apply(lamda x:x[0:3] + '-'+x[3:6]+'-'+x[6:10])
# df
import pandas as pd

# Assuming df is your DataFrame and "Phone_Number" is the column containing phone numbers
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x)[0:3] + '-' + str(x)[3:6] + '-' + str(x)[6:10])

# Display the DataFrame
print(df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123-643-9775
2         1003     Walter        White         nan--
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876-678-3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger         nan--
7         1008   Sherlock       Holmes  876-678-3469
8         1009    Gandalf          NaN          Na--
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee         nan--
11        1012      Harry       Potter         nan--
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876-678-3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123-643-9775
17        1018      Clark         Kent         nan--
18        1019      Creed       Braton          Na--
19        1020     Anakin    Skywalker  876-678-3469
20        1020     Anakin    Skywalker  876-678-3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    N/a             N/a            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

In [30]:
df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

0     123--54-5-54
1     123--64-3-97
2          nan----
3     123--54-3-23
4     876--67-8-34
5     304--76-2-24
6          nan----
7     876--67-8-34
8           Na----
9     123--54-5-54
10         nan----
11         nan----
12    123--54-3-23
13    876--67-8-34
14    304--76-2-24
15    123--54-5-54
16    123--64-3-97
17         nan----
18          Na----
19    876--67-8-34
20    876--67-8-34
Name: Phone_Number, dtype: object

In [31]:
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x)[0:3] + '-' + str(x)[3:6] + '-' + str(x)[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123--54-5-54,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123--64-3-97,93 West Main Street,No,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123--54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876--67-8-34,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304--76-2-24,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,No,No
7,1008,Sherlock,Holmes,876--67-8-34,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na----,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123--54-5-54,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123--54-3-23,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876--67-8-34,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304--76-2-24,214 HR Avenue,N,No
15,1016,Ron,Weasley,123--54-5-54,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123--64-3-97,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N

In [35]:
df["Phone_Number"].str.replace('nan---','')

0     123--54-5-54
1     123--64-3-97
2                -
3     123--54-3-23
4     876--67-8-34
5     304--76-2-24
6                -
7     876--67-8-34
8           Na----
9     123--54-5-54
10               -
11               -
12    123--54-3-23
13    876--67-8-34
14    304--76-2-24
15    123--54-5-54
16    123--64-3-97
17               -
18          Na----
19    876--67-8-34
20    876--67-8-34
Name: Phone_Number, dtype: object

In [36]:
df["Address"].str.split()

0                      [123, Shire, Lane,, Shire]
1                        [93, West, Main, Street]
2                          [298, Drugs, Driveway]
3     [980, Paper, Avenue,, Pennsylvania,, 18503]
4                            [123, Dragons, Road]
5                            [768, City, Parkway]
6                           [1209, South, Street]
7                               [98, Clue, Drive]
8                            [123, Middle, Earth]
9                [25th, Main, Street,, New, York]
10                     [612, Shire, Lane,, Shire]
11                       [2394, Hogwarts, Avenue]
12                           [2039, Main, Street]
13                           [343, City, Parkway]
14                              [214, HR, Avenue]
15                       [2395, Hogwarts, Avenue]
16            [121, Paper, Avenue,, Pennsylvania]
17                            [3498, Super, Lane]
18                                          [N/a]
19               [910, Tatooine, Road,, Tatooine]
20               [910, Tatooine, Road,, Tatooine]
Name: Address, dtype: object

In [37]:
df["Address"].str.split(',',1,expand=True)

C:\Users\HELAL\AppData\Local\Temp\ipykernel_9044\4025180158.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df["Address"].str.split(',',1,expand=True)

                       0                     1
0         123 Shire Lane                 Shire
1    93 West Main Street                  None
2     298 Drugs Driveway                  None
3       980 Paper Avenue   Pennsylvania, 18503
4       123 Dragons Road                  None
5       768 City Parkway                  None
6      1209 South Street                  None
7          98 Clue Drive                  None
8       123 Middle Earth                  None
9       25th Main Street              New York
10        612 Shire Lane                 Shire
11  2394 Hogwarts Avenue                  None
12      2039 Main Street                  None
13      343 City Parkway                  None
14         214 HR Avenue                  None
15  2395 Hogwarts Avenue                  None
16      121 Paper Avenue          Pennsylvania
17       3498 Super Lane                  None
18                   N/a                  None
19     910 Tatooine Road              Tatooine
20     910 Tatooine Road              Tatooine

In [38]:
df["Address"].str.split(',',2,expand=True)

C:\Users\HELAL\AppData\Local\Temp\ipykernel_9044\1619888021.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df["Address"].str.split(',',2,expand=True)

                       0              1       2
0         123 Shire Lane          Shire    None
1    93 West Main Street           None    None
2     298 Drugs Driveway           None    None
3       980 Paper Avenue   Pennsylvania   18503
4       123 Dragons Road           None    None
5       768 City Parkway           None    None
6      1209 South Street           None    None
7          98 Clue Drive           None    None
8       123 Middle Earth           None    None
9       25th Main Street       New York    None
10        612 Shire Lane          Shire    None
11  2394 Hogwarts Avenue           None    None
12      2039 Main Street           None    None
13      343 City Parkway           None    None
14         214 HR Avenue           None    None
15  2395 Hogwarts Avenue           None    None
16      121 Paper Avenue   Pennsylvania    None
17       3498 Super Lane           None    None
18                   N/a           None    None
19     910 Tatooine Road       Tatooine    None
20     910 Tatooine Road       Tatooine    None

In [41]:
df[["Street_Address","State","Zip_Code"]] = df["Address"].str.split(',',2,expand=True)
df

C:\Users\HELAL\AppData\Local\Temp\ipykernel_9044\2870944941.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Street_Address","State","Zip_Code"]] = df["Address"].str.split(',',2,expand=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123--54-5-54,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123--64-3-97,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123--54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876--67-8-34,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304--76-2-24,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,nan----,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,876--67-8-34,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na----,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123--54-5-54,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123--54-3-23,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876--67-8-34,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson_,304--76-2-24,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123--54-5-54,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123--64-3-97,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na----,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [45]:
df[["Street_Address","state","zip_Code"]] = df["Address"].str.split(',',2,expand=True)
df

C:\Users\HELAL\AppData\Local\Temp\ipykernel_9044\1389795836.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Street_Address","state","zip_Code"]] = df["Address"].str.split(',',2,expand=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code,state,zip_Code
0,1001,Frodo,Baggins,123--54-5-54,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None,Shire,None
1,1002,Abed,Nadir,123--64-3-97,93 West Main Street,No,Yes,93 West Main Street,None,None,None,None
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None,None,None
3,1004,Dwight,Schrute,123--54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503,Pennsylvania,18503
4,1005,Jon,Snow,876--67-8-34,123 Dragons Road,Y,No,123 Dragons Road,None,None,None,None
5,1006,Ron,Swanson,304--76-2-24,768 City Parkway,Yes,Yes,768 City Parkway,None,None,None,None
6,1007,Jeff,Winger,nan----,1209 South Street,No,No,1209 South Street,None,None,None,None
7,1008,Sherlock,Holmes,876--67-8-34,98 Clue Drive,N,No,98 Clue Drive,None,None,None,None
8,1009,Gandalf,NaN,Na----,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None,None,None
9,1010,Peter,Parker,123--54-5-54,"25th Main Street, New York",Yes,No,25th Main Street,New York,None,New York,None
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None,Shire,None
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None,None,None
12,1013,Don,Draper,123--54-3-23,2039 Main Street,Yes,N,2039 Main Street,None,None,None,None
13,1014,Leslie,Knope,876--67-8-34,343 City Parkway,Yes,No,343 City Parkway,None,None,None,None
14,1015,Toby,Flenderson_,304--76-2-24,214 HR Avenue,N,No,214 HR Avenue,None,None,None,None
15,1016,Ron,Weasley,123--54-5-54,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None,None,None
16,1017,Michael,Scott,123--64-3-97,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None,Pennsylvania,None
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN,3498 Super Lane,None,None,None,None
18,1019,Creed,Braton,Na----,N/a,N/a,Yes,N/a,None,None,None,None
19,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None
20,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None

In [46]:
df["Paying Customer"].str.replace('Y','Yes')

0     Yeses
1        No
2         N
3     Yeses
4       Yes
5     Yeses
6        No
7         N
8     Yeses
9     Yeses
10    Yeses
11      Yes
12    Yeses
13    Yeses
14        N
15       No
16    Yeses
17      Yes
18      N/a
19    Yeses
20    Yeses
Name: Paying Customer, dtype: object

In [47]:
df["Paying Customer"].str.replace('Yes','Y')

0       Y
1      No
2       N
3       Y
4       Y
5       Y
6      No
7       N
8       Y
9       Y
10      Y
11      Y
12      Y
13      Y
14      N
15     No
16      Y
17      Y
18    N/a
19      Y
20      Y
Name: Paying Customer, dtype: object

In [48]:
df["Paying Customer"].str.replace('No','N')

0     Yes
1       N
2       N
3     Yes
4       Y
5     Yes
6       N
7       N
8     Yes
9     Yes
10    Yes
11      Y
12    Yes
13    Yes
14      N
15      N
16    Yes
17      Y
18    N/a
19    Yes
20    Yes
Name: Paying Customer, dtype: object

In [49]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code,state,zip_Code
0,1001,Frodo,Baggins,123--54-5-54,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None,Shire,None
1,1002,Abed,Nadir,123--64-3-97,93 West Main Street,No,Yes,93 West Main Street,None,None,None,None
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None,None,None
3,1004,Dwight,Schrute,123--54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503,Pennsylvania,18503
4,1005,Jon,Snow,876--67-8-34,123 Dragons Road,Y,No,123 Dragons Road,None,None,None,None
5,1006,Ron,Swanson,304--76-2-24,768 City Parkway,Yes,Yes,768 City Parkway,None,None,None,None
6,1007,Jeff,Winger,nan----,1209 South Street,No,No,1209 South Street,None,None,None,None
7,1008,Sherlock,Holmes,876--67-8-34,98 Clue Drive,N,No,98 Clue Drive,None,None,None,None
8,1009,Gandalf,NaN,Na----,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None,None,None
9,1010,Peter,Parker,123--54-5-54,"25th Main Street, New York",Yes,No,25th Main Street,New York,None,New York,None
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None,Shire,None
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None,None,None
12,1013,Don,Draper,123--54-3-23,2039 Main Street,Yes,N,2039 Main Street,None,None,None,None
13,1014,Leslie,Knope,876--67-8-34,343 City Parkway,Yes,No,343 City Parkway,None,None,None,None
14,1015,Toby,Flenderson_,304--76-2-24,214 HR Avenue,N,No,214 HR Avenue,None,None,None,None
15,1016,Ron,Weasley,123--54-5-54,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None,None,None
16,1017,Michael,Scott,123--64-3-97,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None,Pennsylvania,None
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN,3498 Super Lane,None,None,None,None
18,1019,Creed,Braton,Na----,N/a,N/a,Yes,N/a,None,None,None,None
19,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None
20,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None

In [56]:
df.replace('NaN','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code,state,zip_Code
0,1001,Frodo,Baggins,123--54-5-54,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None,Shire,None
1,1002,Abed,Nadir,123--64-3-97,93 West Main Street,No,Yes,93 West Main Street,None,None,None,None
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None,None,None
3,1004,Dwight,Schrute,123--54-3-23,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503,Pennsylvania,18503
4,1005,Jon,Snow,876--67-8-34,123 Dragons Road,Y,No,123 Dragons Road,None,None,None,None
5,1006,Ron,Swanson,304--76-2-24,768 City Parkway,Yes,Yes,768 City Parkway,None,None,None,None
6,1007,Jeff,Winger,nan----,1209 South Street,No,No,1209 South Street,None,None,None,None
7,1008,Sherlock,Holmes,876--67-8-34,98 Clue Drive,N,No,98 Clue Drive,None,None,None,None
8,1009,Gandalf,NaN,Na----,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None,None,None
9,1010,Peter,Parker,123--54-5-54,"25th Main Street, New York",Yes,No,25th Main Street,New York,None,New York,None
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None,Shire,None
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None,None,None
12,1013,Don,Draper,123--54-3-23,2039 Main Street,Yes,N,2039 Main Street,None,None,None,None
13,1014,Leslie,Knope,876--67-8-34,343 City Parkway,Yes,No,343 City Parkway,None,None,None,None
14,1015,Toby,Flenderson_,304--76-2-24,214 HR Avenue,N,No,214 HR Avenue,None,None,None,None
15,1016,Ron,Weasley,123--54-5-54,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None,None,None
16,1017,Michael,Scott,123--64-3-97,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None,Pennsylvania,None
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN,3498 Super Lane,None,None,None,None
18,1019,Creed,Braton,Na----,N/a,N/a,Yes,N/a,None,None,None,None
19,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None
20,1020,Anakin,Skywalker,876--67-8-34,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None,Tatooine,None

In [69]:
df = df.fillna('')
df

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []

In [66]:
for x in df.index: 
    if df.loc[x, "Do_Not_Contact"] == 'Y':
        df.drop(x, inplace=True)
df

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []

In [68]:
df = df.fillna('')
df

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []

In [70]:
for x in df.index: 
    if df.loc[x, "Phone_Number"] == '':
        df.drop(x, inplace=True)
df

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []

In [71]:
for x in df.index: 
    if df.loc[x, "Phone_Number"] == '':
        df.drop(x, inplace=True)
df

df.dropna(subset="Phone_Number")

Empty DataFrame
Columns: [CustomerID, First_Name, Last_Name, Phone_Number, Address, Paying Customer, Do_Not_Contact, Street_Address, State, Zip_Code, state, zip_Code]
Index: []